In [1]:
from google.colab import drive 
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [51]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier

import time

In [15]:
SEED = 7777

In [3]:
DATA_PATH = '/content/gdrive/MyDrive/KaggleTabularPlaygroundSeries/data'
df_train = pd.read_csv(f'{DATA_PATH}/train.csv')

In [4]:
df_train.shape

(200000, 288)

In [5]:
df_train.head(2)

   row_id     A0T0G0C10  ...     A10T0G0C0                  target
0       0 -9.536743e-07  ... -9.536743e-07  Streptococcus_pyogenes
1       1 -9.536743e-07  ... -9.536743e-07     Salmonella_enterica

[2 rows x 288 columns]

In [6]:
df_train.describe()

              row_id     A0T0G0C10  ...      A9T1G0C0     A10T0G0C0
count  200000.000000  2.000000e+05  ...  2.000000e+05  2.000000e+05
mean    99999.500000  6.421457e-07  ...  1.170014e-04  2.215407e-07
std     57735.171256  8.654927e-05  ...  6.788277e-04  2.050081e-05
min         0.000000 -9.536743e-07  ... -9.536743e-06 -9.536743e-07
25%     49999.750000 -9.536743e-07  ... -9.536743e-06 -9.536743e-07
50%     99999.500000 -9.536743e-07  ...  4.632568e-07 -9.536743e-07
75%    149999.250000 -9.536743e-07  ...  6.946326e-05 -9.536743e-07
max    199999.000000  9.999046e-03  ...  1.999046e-02  9.990463e-04

[8 rows x 287 columns]

In [7]:
target_names = list(set(df_train['target']))
df_targets = {}
for name in target_names:
    df_targets[name] = df_train[df_train['target'] == name].reset_index(drop=True)

In [8]:
for name in target_names:
    print(name, len(df_targets[name]))

Escherichia_coli 19958
Campylobacter_jejuni 20063
Bacteroides_fragilis 20139
Enterococcus_hirae 19947
Staphylococcus_aureus 19929
Salmonella_enterica 20030
Streptococcus_pneumoniae 20074
Klebsiella_pneumoniae 19847
Streptococcus_pyogenes 20076
Escherichia_fergusonii 19937

In [12]:
features = df_train.columns[1:-1]
print(features)

Index(['A0T0G0C10', 'A0T0G1C9', 'A0T0G2C8', 'A0T0G3C7', 'A0T0G4C6', 'A0T0G5C5',
       'A0T0G6C4', 'A0T0G7C3', 'A0T0G8C2', 'A0T0G9C1',
       ...
       'A8T0G0C2', 'A8T0G1C1', 'A8T0G2C0', 'A8T1G0C1', 'A8T1G1C0', 'A8T2G0C0',
       'A9T0G0C1', 'A9T0G1C0', 'A9T1G0C0', 'A10T0G0C0'],
      dtype='object', length=286)

In [42]:
label_encoder = preprocessing.LabelEncoder()
df_train['target'] = label_encoder.fit_transform(df_train['target'])

In [45]:
list(label_encoder.classes_)

['Bacteroides_fragilis',
 'Campylobacter_jejuni',
 'Enterococcus_hirae',
 'Escherichia_coli',
 'Escherichia_fergusonii',
 'Klebsiella_pneumoniae',
 'Salmonella_enterica',
 'Staphylococcus_aureus',
 'Streptococcus_pneumoniae',
 'Streptococcus_pyogenes']

In [52]:
X_train = df_train[features]
y_train = df_train['target']
rfclf = RandomForestClassifier(n_estimators=300, n_jobs=-1)

start_time = time.time()
rfclf.fit(X_train, y_train)
print(f'Train Time Elapsed: {time.time() - start_time}')

Train Time Elapsed: 311.6787459850311

In [54]:
df_test = pd.read_csv(f'{DATA_PATH}/test.csv')
print(len(df_test))

100000

In [56]:
X_test = df_test[features]

In [57]:
y_test = rfclf.predict(X_test)

In [58]:
df_submit = pd.read_csv(f'{DATA_PATH}/sample_submission.csv')
df_submit.head()

   row_id                    target
0  200000  Streptococcus_pneumoniae
1  200001  Streptococcus_pneumoniae
2  200002  Streptococcus_pneumoniae
3  200003  Streptococcus_pneumoniae
4  200004  Streptococcus_pneumoniae

In [59]:
y_name = label_encoder.inverse_transform(y_test)

In [61]:
df_submit['target'] = y_name

In [63]:
df_submit.to_csv(f'{DATA_PATH}/0202_rfclf_baseline.csv', index=False)